@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji'; */
    font-family: 'Roboto', sans-serif;
}

.fadeIn {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.hoverEffect {
    transition: transform ease 1s;
}
.hoverEffect:hover {
    transform: scale(1.05);
}

/**HOMEPAGE*/
.general__image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.general__image--smooth::after {
    background-color: rgba(0, 0, 0, 0.2);
}

.homepage__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.portfolioTwoColums__grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2.5rem;
}

.homepageThree__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.homePageResponsive__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    gap: 2.5rem;
}

@media screen and (max-width: 1238px) {
    .homePageResponsive__grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    }
}

.portfolioPageResponsive__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 390px 390px;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 360px)); */
    gap: 2.5rem;
}

@media screen and (max-width: 768px) {
    .portfolioPageResponsive__grid {
        grid-template-columns: 1fr;
    }
}
